<nav class="navbar">
  <div class="navbar-container">
    
    <div class="logo">
      <div class="logo-icon">
        <div class="heart-line"></div>
      </div>
      <span class="logo-text"><span>RedVital</span></span>
    </div>

    <ul class="nav-links">
      <li><a href="#" class="nav-item">Inicio</a></li>
      <li><a href="#" class="nav-item">¿Quiénes somos?</a></li>
      <li>
        <button class="btn-login" (click)="openLoginModal(); $event.preventDefault()">
          Iniciar sesión
        </button>
      </li>
    </ul>

  </div>
</nav>

<app-login></app-login>